[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "conleyreg"]
	path = conleyreg
	url = https://github.com/cdueben/conleyreg
[submodule "cppcontainers"]
	path = cppcontainers
	url = https://github.com/cdueben/cppcontainers
[submodule "spaths"]
	path = spaths
	url = https://github.com/cdueben/spaths
